<div id="login-main">
	<h1><img src="/login/primetime.png" alt="Primetime. Better than TV, anyway"></h1>
	<div id="login-call"><a href="<%= @authsub_link %>"><img src="/login/getstarted.png" alt="Get Started »"></a></div>
</div>
